<h1>Listing engines</h1>

<table>
  <tr>
    <th>Part number</th>
    <th>Size</th>
    <th>Manufacturer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @engines.each do |engine| %>
  <tr>
    <td><%= engine.part_number %></td>
    <td><%= engine.size %></td>
    <td><%= engine.manufacturer.name %></td>
    <td><%= link_to 'Show', engine %></td>
    <td><%= link_to 'Edit', edit_engine_path(engine) %></td>
    <td><%= link_to 'Destroy', engine, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Engine', new_engine_path %>
