
<% if current_user.admin? && !current_user?(user) %>

	<div class="row">
		<h2>Welcome to the Admin Page</h2>
		<div id="admin_menu">
			<ul>
				<li><%= link_to "Edit Users", users_path %></li>
				<li><%= link_to "Edit Manufacturers", manufacturers_path %></li>
				<li><%= link_to "Edit Helicopter Kits", heli_kits_path %></li>
				<li><%= link_to "Edit Engines", engines_path %></li>
				<li><%= link_to "Edit Electric Motors", elec_motors_path %></li>
				<li><%= link_to "Edit Exhaust Systems", exhausts_path %></li>
				<li><%= link_to "Edit Speed Controllers", speed_controls_path %></li>
				<li><%= link_to "Edit Governors", governors_path %></li>
				<li><%= link_to "Edit Cyclic Servos", cyclic_servos_path %></li>
				<li><%= link_to "Edit Rudder Servos", rudder_servos_path %></li>
				<li><%= link_to "Edit Throttle Servos", throttle_servos_path %></li>
				<li><%= link_to "Edit Rudder Gyros", rudder_gyros_path %></li>
				<li><%= link_to "Edit FBL Units", fbl_units_path %></li>
				<li><%= link_to "Edit Receivers", receivers_path %></li>
				<li><%= link_to "Edit Main Blades", main_blades_path %></li>
				<li><%= link_to "Edit Tail Blades", tail_blades_path %></li>
				<li><%= link_to "Edit Flybar Paddles", paddles_path %></li>
				
			</ul>
			
		</div>
	</div>


<% else %>
	<div class="row">
		<h2>You're not logged in as an administrator!</h2>
		<%= link_to "Login as administrator", signin_path %>
	</div>
	
<% end %>
			