<% current_user = @user %>
<%= provide(:title, 'Sign up') %>
<div class="row">
	<%= render 'sign_in' %>
  <div class="span5 form2">
  	<h2>Register a new account</h2>
    <%= simple_form_for(@user) do |f| %>
			<%= render 'shared/error_messages' %>
      <%= f.input :name %>
      
      <%= f.input :email %>

      <%= f.input :password %>

      <%= f.input :password_confirmation %>
			<% if current_user.admin? && !current_user?(user) %>
				<%= f.input :admin, :collection => [:t, :f] %>
			<% end %>
      <%= f.submit "Register >>", class: "btn btn-large btn-primary create" %>
    <% end %>
  </div>
</div>
