<div class="form_back">
	<%= simple_form_for @project, :html => {:class => ''} do |f| %>
	  <%= f.error_notification %>
	    <h2><%= current_user.name %>'s New Heli Project</h2>
	    <%= f.input :user_id, :placeholder => current_user.name %>
	    <%= f.input :power, :collection => [:Electric, :Nitro], :as => :radio_buttons %>
	    <%= f.input :type, :collection => [:'Flybarred Helicopter', :'Flybarless Helicopter'], :as => :radio_buttons %>
	    <%= f.input :heli_kit_id %>
	    <%= f.input :elec_motor %>
	    <%= f.input :engine %>
	    <%= f.input :exhaust %>
	    <%= f.input :speed_control %>
	    <%= f.input :cyclic_servo %>
	    <%= f.input :rudder_servo %>
	    <%= f.input :throttle_servo %>
	    <%= f.input :rudder_gyro %>
	    <%= f.input :fbl_unit %>
	    <%= f.input :receiver %>
	    <%= f.input :governor %>
	    <%= f.input :main_blade %>
	    <%= f.input :tail_blade %>
	    <%= f.input :paddle %>
	    <%= f.submit "Create Project >> ", class: "btn btn-large btn-primary create2" %>	  
	  <%= link_to 'Back', projects_path %>
	<% end %>
</div>