<div class="">
	<div class="">
		<h3 class="leftalign">All My Helicopter Projects
		<%= link_to ' Create New Project', new_project_path %></h3>
		<% will_paginate %>
		<% @projects.each do |project| %>
	<hr>
	<div class="box-holder-0">
		<div class="equal"><h3>General Info</h3></div>
		<div class="flex-1"><b>Project Name:   </b><br><%= project.name %></div>
		<div class="flex-2"><b>Electric?:  </b><br><%= project.electric %></div>
		<div class="flex-3"><b>Flybarless?:  </b><br><%= project.flybarless %></div>
		<div class="flex-4"><b>Heli Kit:  </b><br><%= project.heli_kit.try(:name) %></div>
	</div>
	
	<div class="box-holder-1">
		<div class="equal"><h3>Power</h3></div>
		<div class="flex-1"><b>Electric Motor:  </b><br><%= project.elec_motor.try(:name) %></div>
		<div class="flex-2"><b>Engine:  </b><br><%= project.engine.try(:name) %></div>
		<div class="flex-3"><b>Exhaust System:  </b><br><%= project.exhaust.try(:name) %></div>
		<div class="flex-4"><b>Speed Control:  </b><br><%= project.speed_control.try(:name) %></div>
		
	</div>
	
	<div class="box-holder-2">
		<div class="equal"><h3>Electronics</h3></div>
		<div class="flex-1"><b>Cyclic Servos:  </b><br><%= project.cyclic_servo.try(:name) %></div>	
		<div class="flex-2"><b>Rudder Servo:  </b><br><%= project.rudder_servo.try(:name) %></div>
		<div class="flex-3"><b>Rudder Gyro:  </b><br><%= project.rudder_gyro.try(:name) %></div>
		<div class="flex-4"><b>Flybarless Controller:  </b><br><%= project.fbl_unit.try(:name) %></div>
		<div class="flex-5"><b>Receiver:  </b><br><%= project.receiver.try(:name) %></div>
		<div class="flex-6"><b>Governor:  </b><br><%= project.governor.try(:name) %></div>
	</div>
	
	<div class="box-holder-3">
		<div class="equal"><h3>Blades/Paddles</h3></div>
		<div class="flex-1"><b>Main Blades:  </b><br><%= project.main_blade.try(:name) %></div>
		<div class="flex-2"><b>Tail Blades:  </b><br><%= project.tail_blade.try(:name) %></div>
		<div class="flex-3"><b>Paddles:  </b><br><%= project.paddle.try(:name) %></div>
	</div>
	<br>
	<p class="centered"><%= link_to 'Edit', edit_project_path(project) %>&nbsp&nbsp<%= link_to 'Destroy', project, confirm: 'Are you sure you wish to delete this project?', method: :delete %>&nbsp&nbsp</p>
		<% end %>
	</div>
</div>


