<h2>My Helicopter Projects</h2>

<table>
  <tr>
    <th>Electric?</th>
    <th>Flybarless?</th>
    <th>Heli kit</th>
    <th>Elec motor</th>
    <th>Engine</th>
    <th>Exhaust</th>
    <th>Speed control</th>
    <th>Cyclic servo</th>
    <th>Rudder servo</th>
    <th>Throttle servo</th>
    <th>Rudder gyro</th>
    <th>Fbl unit</th>
    <th>Receiver</th>
    <th>Governor</th>
    <th>Main blade</th>
    <th>Tail blade</th>
    <th>Paddle</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.electric %></td>
    <td><%= project.flybarless %></td>
    <td><%= project.heli_kit_id %></td>
    <td><%= project.elec_motor_id %></td>
    <td><%= project.engine_id %></td>
    <td><%= project.exhaust_id %></td>
    <td><%= project.speed_control_id %></td>
    <td><%= project.cyclic_servo_id %></td>
    <td><%= project.rudder_servo_id %></td>
    <td><%= project.throttle_servo_id %></td>
    <td><%= project.rudder_gyro_id %></td>
    <td><%= project.fbl_unit_id %></td>
    <td><%= project.receiver_id %></td>
    <td><%= project.governor_id %></td>
    <td><%= project.main_blade_id %></td>
    <td><%= project.tail_blade_id %></td>
    <td><%= project.paddle_id %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
