<div class="row">
	<div class="offset">
		<h3 class="leftalign">All Helicopter Projects</h3>
		<%= link_to 'Create New Project', new_project_path %>
		<% will_paginate %>
		<% @projects.each do |project| %>
		    <p><b>Project Name:   </b><%= project.name %></p>
		    <p><b>User:   </b><%= project.user.try(:name) %></p>
		    <p><b>Electric?:  </b><%= project.electric %></p>
		    <p><b>Flybarless?:  </b><%= project.flybarless %></p>
		    <p><b>Heli Kit:  </b><%= project.heli_kit.try(:name) %></p>
				<p><b>Electric Motor:  </b><%= project.elec_motor.try(:name) %></p>
				<p><b>Engine:  </b><%= project.engine.try(:name) %></p>
				<p><b>Exhaust System:  </b><%= project.exhaust.try(:name) %></p>
				<p><b>Speed Control:  </b><%= project.speed_control.try(:name) %></p>
				<p><b>Cyclic Servos:  </b><%= project.cyclic_servo.try(:name) %></p>
				<p><b>Rudder Servo:  </b><%= project.rudder_servo.try(:name) %></p>
				<p><b>Throttle Servo:  </b><%= project.throttle_servo.try(:name) %></p>
				<p><b>Rudder Gyro:  </b><%= project.rudder_gyro.try(:name) %></p>
				<p><b>Flybarless Controller:  </b><%= project.fbl_unit.try(:name) %></p>
				<p><b>Receiver:  </b><%= project.receiver.try(:name) %></p>
				<p><b>Governor:  </b><%= project.governor.try(:name) %></p>
				<p><b>Main Blades:  </b><%= project.main_blade.try(:name) %></p>
				<p><b>Tail Blades:  </b><%= project.tail_blade.try(:name) %></p>
				<p><b>Paddles:  </b><%= project.paddle.try(:name) %></p>
		    <p><%= link_to 'Edit', edit_project_path(project) %>&nbsp&nbsp<%= link_to 'Destroy', project, confirm: 'Are you sure you wish to delete this project?', method: :delete %>&nbsp&nbsp</p>
		<% end %>
	</div>
</div>