<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @project.user.try(:name) %>
</p>

<p>
  <b>Project Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Electric:</b>
  <%= @project.electric? %>
</p>

<p>
  <b>Flybarless:</b>
  <%= @project.flybarless? %>
</p>

<p>
  <b>Heli kit:</b>
  <%= @project.heli_kit.try(:name) %>
</p>

<p>
  <b>Elec motor:</b>
  <%= @project.elec_motor.try(:name) %>
</p>

<p>
  <b>Engine:</b>
  <%= @project.engine.try(:name) %>
</p>

<p>
  <b>Exhaust:</b>
  <%= @project.exhaust.try(:name) %>
</p>

<p>
  <b>Speed control:</b>
  <%= @project.speed_control.try(:name) %>
</p>

<p>
  <b>Cyclic servo:</b>
  <%= @project.cyclic_servo.try(:name) %>
</p>

<p>
  <b>Rudder servo:</b>
  <%= @project.rudder_servo.try(:name) %>
</p>

<p>
  <b>Throttle servo:</b>
  <%= @project.throttle_servo.try(:name) %>
</p>

<p>
  <b>Rudder gyro:</b>
  <%= @project.rudder_gyro.try(:name) %>
</p>

<p>
  <b>Fbl unit:</b>
  <%= @project.fbl_unit.try(:name) %>
</p>

<p>
  <b>Receiver:</b>
  <%= @project.receiver.try(:name) %>
</p>

<p>
  <b>Governor:</b>
  <%= @project.governor.try(:name) %>
</p>

<p>
  <b>Main blade:</b>
  <%= @project.main_blade.try(:name) %>
</p>

<p>
  <b>Tail blade:</b>
  <%= @project.tail_blade.try(:name) %>
</p>

<p>
  <b>Paddle:</b>
  <%= @project.paddle.try(:name) %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
