<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= current_user.name %>
</p>

<p>
  <b>Electric:</b>
  <%= @project.electric %>
</p>

<p>
  <b>Flybarless:</b>
  <%= @project.flybarless %>
</p>

<p>
  <b>Heli kit:</b>
  <%= @project.heli_kit_id %>
</p>

<p>
  <b>Elec motor:</b>
  <%= @project.elec_motor_id %>
</p>

<p>
  <b>Engine:</b>
  <%= @project.engine_id %>
</p>

<p>
  <b>Exhaust:</b>
  <%= @project.exhaust_id %>
</p>

<p>
  <b>Speed control:</b>
  <%= @project.speed_control_id %>
</p>

<p>
  <b>Cyclic servo:</b>
  <%= @project.cyclic_servo_id %>
</p>

<p>
  <b>Rudder servo:</b>
  <%= @project.rudder_servo_id %>
</p>

<p>
  <b>Throttle servo:</b>
  <%= @project.throttle_servo_id %>
</p>

<p>
  <b>Rudder gyro:</b>
  <%= @project.rudder_gyro_id %>
</p>

<p>
  <b>Fbl unit:</b>
  <%= @project.fbl_unit_id %>
</p>

<p>
  <b>Receiver:</b>
  <%= @project.receiver_id %>
</p>

<p>
  <b>Governor:</b>
  <%= @project.governor_id %>
</p>

<p>
  <b>Main blade:</b>
  <%= @project.main_blade_id %>
</p>

<p>
  <b>Tail blade:</b>
  <%= @project.tail_blade_id %>
</p>

<p>
  <b>Paddle:</b>
  <%= @project.paddle_id %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
