<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @project.user_id %>
</p>

<p>
  <b>Power:</b>
  <%= @project.power %>
</p>

<p>
  <b>Type:</b>
  <%= @project.type %>
</p>

<p>
  <b>Heli kit:</b>
  <%= @project.heli_kit %>
</p>

<p>
  <b>Elec motor:</b>
  <%= @project.elec_motor %>
</p>

<p>
  <b>Engine:</b>
  <%= @project.engine %>
</p>

<p>
  <b>Exhaust:</b>
  <%= @project.exhaust %>
</p>

<p>
  <b>Speed control:</b>
  <%= @project.speed_control %>
</p>

<p>
  <b>Cyclic servo:</b>
  <%= @project.cyclic_servo %>
</p>

<p>
  <b>Rudder servo:</b>
  <%= @project.rudder_servo %>
</p>

<p>
  <b>Throttle servo:</b>
  <%= @project.throttle_servo %>
</p>

<p>
  <b>Rudder gyro:</b>
  <%= @project.rudder_gyro %>
</p>

<p>
  <b>Fbl unit:</b>
  <%= @project.fbl_unit %>
</p>

<p>
  <b>Receiver:</b>
  <%= @project.receiver %>
</p>

<p>
  <b>Governor:</b>
  <%= @project.governor %>
</p>

<p>
  <b>Main blade:</b>
  <%= @project.main_blade %>
</p>

<p>
  <b>Tail blade:</b>
  <%= @project.tail_blade %>
</p>

<p>
  <b>Paddle:</b>
  <%= @project.paddle %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
