<p id="notice"><%= notice %></p>

<p>
  <b>Part number:</b>
  <%= @elec_motor.part_number %>
</p>

<p>
  <b>Size:</b>
  <%= @elec_motor.size %>
</p>

<p>
  <b>Manufacturer:</b>
  <%= @elec_motor.manufacturer_id %>
</p>


<%= link_to 'Edit', edit_elec_motor_path(@elec_motor) %> |
<%= link_to 'Back', elec_motors_path %>
