<% if current_user.admin? && !current_user?(user) %>

	<div class="form4">
		<h2>All Helicopter Kits</h2>
		<table class="product_index">
			 <thead>
			  <tr>
			    <th>Name</th>
			    <th>Part&nbsp#</th>
			    <th>Size</th>
			    <th>Power</th>
			    <th>Manufacturer</th>
			    <th></th>
			    <th></th>
			    <th></th>
			  </tr>
			</thead>
		
		<% @heli_kits.each do |heli_kit| %>
			 <tbody>
			  <tr>
			    <td><%= heli_kit.name %></td>
			    <td><%= heli_kit.part_number %></td>
			    <td><%= heli_kit.size.name %></td>
			    <td><%= heli_kit.power %></td>
			    <td><%= heli_kit.manufacturer.name %></td>
			    <td class="sed_links"><%= link_to 'Show', heli_kit %></td>
			    <td class="sed_links"><%= link_to 'Edit', edit_heli_kit_path(heli_kit) %></td>
			    <td class="sed_links"><%= link_to 'Destroy', heli_kit, confirm: 'Are you sure?', method: :delete %></td>
			  </tr>
		<% end %>
			</tbody>
		</table>
		
		<br />
		
		<%= link_to 'New Heli Kit', new_heli_kit_path %>
		<% else %>
			<%= render index %>
		<% end %>
	</div>
