<div class="">
	<div class="">
		<h3 class="leftalign">All Cyclic Servos  -
		<%= link_to 'New Cyclic Servo', new_cyclic_servo_path %></h3>

		<% @cyclic_servos.each do |cyclic_servo| %>
	<hr>
	<div class="hbox-holder-0">
		<div class="flex-1"><b>Part Number:   </b><br><%= cyclic_servo.part_number %></div>
		<div class="flex-2"><b>Max Torque:  </b><br><%= cyclic_servo.max_torque %></div>
		<div class="flex-3"><b>Max Speed:  </b><br><%= cyclic_servo.max_speed %></div>
		<div class="flex-4"><b>Size:  </b><br><%= cyclic_servo.size %></div>
		<div class="flex-4"><b>Manufacturer:  </b><br><%= cyclic_servo.manufacturer.name %></div>
	</div>
	<br>
	<p class="centered"><%= link_to 'Edit', edit_cyclic_servo_path(cyclic_servo) %>&nbsp&nbsp<%= link_to 'Destroy', cyclic_servo, confirm: 'Are you sure?', method: :delete %>&nbsp&nbsp</p>
		<% end %>
	</div>
</div>

