<header class="navbar">
  <div class="navbar-inner">
    <div class="header">
      <%= link_to (image_tag("logo.png", :size => "350x150", :alt => "iHeliWorkbench Home")), root_path %>
      
				<table id="header_table">
					<tr>
						<td>
						<!-- Start of Google Sustom Search Code -->
						
							<div id="cse"></div>

      			<!-- End of Google Custom Search Code -->
						</td>
					</tr>
					<tr>
						<td>
							<div id="main_nav">
								<div><%= link_to "Home", root_path %></div>
								<div><%= link_to "Help", help_path %></div>
									<% if signed_in? %>
										<div><%= link_to "Users", users_path %></div>
										<div><%= link_to "Site Admin", '/admin' %></div>
										<div><%= link_to "Projects", '/projects' %></div>
										<div class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">
              			  Account <b class="caret"></b>
             				 </a>
             		 <ul class="dropdown-menu">
               		 <li><%= link_to "Profile", current_user %></li>
               		 <li><%= link_to "Settings", edit_user_path(current_user) %></li>
               		 <li class="divider"></li>
               		 <li>
                	  <%= link_to "Sign out", signout_path, method: "delete" %>
               		 </li>
              		</ul>
            
				          <% else %>
				            <li><%= link_to "Login / Register", signin_path %></li>
				          <% end %>						
          			</div> <!-- Closes main_nav div -->
					
						</td>
					</tr>
			
				</table>
			
		</div>
	</div>
</header>	