<div id="sidebar">
	<%= link_to (image_tag("edge.png", :size => "180x100", :alt => "iHeliWorkbench Home")), users_path %>
        
	<%= link_to (image_tag("amain.png", :size => "180x100", :alt => "iHeliWorkbench Home")), users_path %>
        
	<%= link_to (image_tag("scorpion.png", :size => "180x100", :alt => "iHeliWorkbench Home")), users_path %>
        
	<%= link_to (image_tag("heliproz.png", :size => "180x100", :alt => "iHeliWorkbench Home")), users_path %>
        
	<%= link_to (image_tag("gaui.png", :size => "180x100", :alt => "iHeliWorkbench Home")), users_path %>

        
	<h5 id="links">Sponsored Links</h5>
   <p id="follow">follow us:</p>     
	<div id="social">
		
    <%= link_to (image_tag("social.png", :size => "200x40", :alt => "iHeliWorkbench Home")), users_path %>
  </div>

</div>